/* You can add global styles to this file, and also import other style files */
@import "~katex/dist/katex.css";

@font-face {
    font-family: 'fira';
    src: url('assets/fonts/FiraCodeNerdFontMono-Retina.ttf')
}

.code-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    margin: 8px 0;
}

.option-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.config-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.config-wrapper > input[type="text"] {
  display: block;
  padding: 8px 16px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 8px;
  outline: 0;
}

.config-wrapper > select {
  /* Reset */
  appearance: none;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  outline: 0;
  /* Personalize */
  border-radius: 8px;
  padding: 8px 32px 8px 16px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
  cursor: pointer;
}

.config-wrapper > select:hover,
.run-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.run-button {
  padding: 8px 16px;
  background: white;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 8px;
  cursor: pointer;
}

.output-wrapper {
    margin: 8px 0;
    padding: 8px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-family: fira;
    position: relative;
}

.output-wrapper > input[type="text"] {
    outline: 0;
    background-color: transparent;
    border: 0;
    color: white;
    font-family: fira;
    display: inline-block;
    width: 100%;
}

@media (min-width: 768px) {
  .option-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .config-wrapper {
    flex-direction: row;
    gap: 8px;
  }
}
